name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
    VSTEST_CONNECTION_TIMEOUT: 180
    DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
    DOTNET_NOLOGO: true
    DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION: 1
    TERM: xterm

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0.x
          9.0.x

    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore -c Release /p:ContinuousIntegrationBuild=true
    - name: Test
      run: dotnet test -c Release --no-build -p:VSTestUseMSBuildOutput=false

    - name: Collect coverage
      if: success() && matrix.os == 'ubuntu-latest'
      run: dotnet test -c Release -f net8.0 --no-build --collect:"XPlat Code Coverage;Format=lcov" --results-directory coverage

    - name: Publish coverage report to coveralls.io
      if: success() && matrix.os == 'ubuntu-latest'
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ github.token }}
        file: coverage/**/coverage.info
        format: lcov
